* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 8vh;
}
p {
    font-size: 2vh;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* backgrounds */
.bg-nav-fix {
    background-color: #262626 !important;
}
.bg-envato {
    background-color: #7AA93C;
}
.bg-light-blue {
    background-color: #14485D !important;
}
.bg-white {
    background-color: #ffffff;
}
.bg-green {
    background-color: #2CBC63;
}
.bg-blue {
    background-color: #023A51;
}
.bg-gray {
    background-color: #EFF5F7;
}


/* text colors */
.txt-white {
    color: #ffffff;
}
.txt-green {
    color: #2CBC63;
}
.txt-white-hero {
    color: #ffffff99;
}
.txt-number {
    color: #9ea4b1;
}
.txt-bridge {
    color: #a6bac2;
}
.txt-footer {
    color: #5c667d;
}
.txt-blue {
    color: #023A51;
}

/* font-size */
.txt-13 {
    font-size: 0.8rem;
}
.txt-14 {
    font-size: 0.9rem;
}
.txt-15 {
    font-size: 1.0rem;
}
.txt-18 {
    font-size: 18px;
}
.txt-24 {
    font-size: 24px;
}
.txt-28 {
    font-size: 28px;
}
.txt-54 {
    font-size: 54px;
}



/* navbar 1 */
.m-nav1 {
    margin-top: 56px;
}
.btn-modal:hover,
.btn-modal:focus {
    background-color: #2CBC63;
}


/* navbar-2 */
.nav-drop a:hover,
.nav-drop a:focus {
    color: #ffffff;
    border-top: solid 3px #ffffff;
}

/* hero */
.hero {
    background-image: url(assets/globe-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.bg-card-1 {
    background-image: url(assets/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-card-2 {
    background-image: url(assets/i2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-card-3 {
    background-image: url(assets/i3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* body */
.pic-form {
    background-image: url(/assets/bg-ctf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* bridge */
.bg-bridge {
    background-image: url(assets/map-ft.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.a-bridge:hover,
.a-bridge:focus {
    color: #ffffff;
}
.h-bridge {
    font-size: 60px;
}

/*  footer*/
footer a:hover {
    color: #5c667d;
}

@media (min-width: 400px) and (max-width: 992px) {
    .h-bridge {
        font-size: 30px !important;
    }

    .txt-54 {
        font-size: 24px;
    }

    /* body cards */
    
}

@media (min-width: 400px) and (max-width: 768px) {
    .b-card-2 {
        border: none !important;
        }   

}