/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

/* HEADER */

/* fixed bar */

body{
    background-color: rgb(0, 74, 106);
}

.fixed-top.navbar-light{
    background-color: rgb(40, 38, 38);
    height: 54px;
}

a svg{
    width: 145px;
    height: 100%;
}

.btn-bar{
    background-color: rgb(111, 174, 16);
    height: 32px;
    width: 95px;
}

/* bar 2 */

.bar2{
    margin-top: 54px;
    background-color: rgb(0, 74, 106);
}

.dropdown-menu li a{
    color: black !important;
}

.nav-item a{
    color: #FFFFFF99!important;
}

.nav-link:hover, .nav-link:focus{
    color: white !important;
    border-top: 2px solid white;
}

.dropdown-item i{
    color: rgb(111, 174, 16);
    font-size: 5px;
}

.d-grid button, .btn-bar.mt-4{
    background-color: rgb(32, 208, 61);
    font-size: 18px;
}

li.justMedium button{
    background-color:rgb(0, 74, 106);
}

.justMedium{
    display: none;
}

/* modal */

.modal-dialog{
    width: 600px;
}

.sxOne, .rxOne{
    width: 47%;
}

.offcanvas-end button.btn-close:hover{
    animation: rotateIn;
    animation-duration: 0.4s;
    animation-direction: reverse;
    
}

 /* HERO */

 h1.text-white{
     font-size: 54px;
     font-weight: 600;
 }

 .body-text{
    color: #FFFFFF99 !important;
}
div p.mt-5{
    font-size: 17px;
}

main{
    position: relative;
}

.heroPic{
    background-image: url(./logos\ &\ pictures/Hero\ background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 90%;
    position: relative;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 5%;
  
}

.miniContainer{
    border-top: 5px solid green;
    position: absolute;
    top: 15%;
    right: 7%;
    width: 350px!important;
}

.higher{
    height: 600px;
}

.miniContainer li a, .miniContainer .nav-link:hover, .miniContainer .nav-link:focus {
    color: gray!important;
    border-top: none;
}

.miniContainer a{
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  

.miniContainer a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: lightgrey;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .miniContainer a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* BODY CONTENT */


/* MEDIA QUERIES */

@media all and (max-width: 992px) { 

    /* HEADER MEDIA 992*/

    .justlarge{
        display: none;
    }

    .bar2.container{
        max-width: 98%;
    }

    .justMedium{
        display: initial;
    }

    div.navbar-nav{
        flex-direction: row;
    }

    .nav-item a, .accordion-item, .accordion-item button, .nav-link:hover, .nav-link:focus {
        color: rgb(96, 96, 96) !important;
    }

    .btn.btn-primary.border-dark{
        width: 190px;
    }

    .btn.btn-primary.border-dark::after{
        font-size: small;
        font-weight: bold;
        content: ' Talk an expert';
    }

    /* HERO MEDIA 992*/

    h1.text-white{
        font-size: 35px;
        font-weight: 200;
    }

    .heroPic{
        height: 150px;
        width: 96%;
        top: 370px;
        left: 2%;
    }

    .higher{
        height: 400px;
    }

    .miniContainer{
        display: none;
    }
    
    
 }

 @media all and (max-width: 576px) { 

    /* HEADER MEDIA 576*/

    .bar2.container{
        max-width: 100%;
    }

    .noSmall{
        display: none;
    }
    
    .modal-dialog{
        max-width: 100%;
    }

    .offcanvas-end{
        width: 80%!important;
    }

    /* HERO MEDIA 576*/

    .heroPic{
        height: 150px;
        width: 96%;
        top: 500px;
        left: 2%;
    }

    .higher{
        height: 600px;
    }

    /* BODY CONTENT MEDIA 576*/

 }
