

html {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

.title {
    font-size: 5em;
    font-weight: bold;
    font-family: "Manrope";
    line-height: 1.1;
}

.bg-color-blue {
    background-color: #1a4e64 !important;


}

.text{
    padding-right: 5em;
}


.hover-card-hero:hover{
    background-color: #2cbc63;
    transition: 0.3s;
}

.triple-card{
    background-color: #023a51;
}

.triple-card .card-title{
    color: #023a51;
}


/* .nav2 ul li{
     padding-right: 3.5em; 
   
} */

.nav2 ul li a{
    color: white !important;
    font-weight: 600;
}

.dropdown-menu .dropdown-item{
    color: #1a4e64 !important;
}

.bgwhite{
    background-color: white !important;
}

.btn_hover:hover{
    background-color: #5c667d !important;
}

.span-color-1 {
    color : #455680 !important;
}

.span-color-2 {
    color : #2cbc63 !important;
}

.form-control::placeholder {
    color:#5c667d;
    padding-left: 0.5em;
}

.col-md-6 img{
    height: 100%;
    width: 100%;
}

.h5-page1{
    color: #033a52 !important;
}

.p-page1{
    color: #a7aeb9 !important;
}

.fz-page1{
    font-size: 4.5em;
    font-weight: 700;
}

.no-border-card{
    border: none;
}


.page-1-all-cards img:hover{
    border-bottom: 3px solid #2cbc63 !important;
    cursor: pointer;
}

.plus-circle img{
    width: 50px;
    background: #023a51;
    border-radius: 25px;
}

.bold{
    font-weight: 600;
    font-size: 4rem;
    line-height: 1;
    color: #023a51;
}

.page-1-text{
    color: #5C667D !important;
}

.no-border-list ul li{
    border: none !important;
    cursor: pointer;
    color: #5C667D !important;
    font-weight: 600;
    font-size: 1.1em;
}

.color-text-blue{
    color: #023A51 !important;
}


.border-blue{
    border-bottom: 8px solid #023a51;
    
}


/* footer */
footer{
    background-color: #023a51;
  }
  
  
  .foot button.btn{
    height: 60px;
    width: 270px!important;
  }
  
  .topfoot{
    background-image: url(/case-3/asset/map-ft.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5rem;
    padding-top: 2.5rem;
  }